<div id="title">
	<h3>Editar Perfil</h3>
</div><!--end title-->
<div id="content"> 
	<div id="bar"></div><!--end bar-->
	
	<div id="sidecontent">	
		<div id="loginup">

		<%= render :partial => 'form' %>

		</div><!--end loginup-->
	</div><!--end sidecontent-->
</div><!--end content-->