<div id="title">
	<h3>Registrar</h3>
</div><!--end title-->
<div id="content"> 
	<div id="bar"></div><!--end bar-->
	
	<div id="sidecontent">
		<div id="loginup">

<%= render :partial => 'form' %>

		</div><!--end loginup-->
	</div><!--end sitecontent-->
</div><!--end content-->