<%= render :partial => 'submenu_asistencia' %>

<div id="title">
	<h3>Panorama General</h3>
</div><!--end title-->

<div id="content">   
	   	
	<%= render :partial => 'bar' %>    
	
	<div id="sidecontent">
		<div id="text">
			<h2>Panorama General de Asistencia Tecnica:</h2>
			<p>Lorem ipsum dicunt fabellas deterruisset vel an, evertitur honestatis nec et. Id kasd ferri nihil sed, cum in sumo adipisci lobortis, habeo intellegebat nam ex. Sint adversarium ad usu, nam in tale quaeque oporteat. Eum at vidit blandit, ea has graeco invenire, vis audire impedit volumus ea. Diam ridens laoreet est ad, stet autem mea et.</p>

			<p>Eros insolens pertinax id vel, choro sensibus consectetuer sed ea. Nec et dicta deleniti, docendi prodesset est ad. Has no iisque facilisi. Qui ei facer facilisi definiebas, no sit veniam senserit. At debet intellegebat ius, ei utinam docendi pro, sea exerci aeterno laboramus ea. Eos modo abhorreant in, facilisi eleifend te usu, cum erat minimum ei.</p>

			<p>Cu eam primis intellegat dissentiunt, nec an ullum animal impetus. Eos stet puto putant eu, cum in dolor iudico neglegentur, usu illud iudicabit consectetuer ne. At mei omittam perpetua dissentiet, duis accusamus ex vim. Vidisse dolorum vix an. Oblique pertinax ne eum, ex natum idque expetenda eos. Ludus offendit ullamcorper vis ut, cu eam quando docendi. Ei per meis urbanitas, sed laoreet gloriatur referrentur at.</p>

			<p>Lorem scaevola mea cu, labores dolorem per ne. Eu dicunt commune sit, amet iudicabit te sit, et ubique copiosae incorrupte est. Vis scripta vituperatoribus ad, nominati prodesset quo ea, pro impetus oporteat gloriatur id. Nec ea etiam contentiones, ut has amet tota dicam. Volumus mediocrem dissentiunt an mea, zzril saepe delectus no sit, usu illum velit summo ea. Ut noster facilis eos, nec aliquam platonem consequuntur ad. Te quo nisl malorum, an iisque regione quaeque sed.</p>

			<p>Fabulas dissentias ex eam, option officiis nec eu. Ut sea persecuti temporibus scribentur. Ne sed diceret verterem. Mutat insolens electram sea ex, ei porro ludus nostrud mei. Eius dignissim conclusionemque ex pro, cu mea iudico reprimique. Cu sea adhuc erroribus, insolens euripidis duo ne, fugit ubique expetendis te mel.</p>
			
			<p>Oquentiam eos. Ad usu soleat altera, mea ad nullam facilisi antiopam. Dicat fierent ius cu. Vocent saperet molestie sit cu, essent regione nec ut, vel mazim pertinax ne.</p>

			<p>Nostro facilisi mel ea. Cu duo nulla postea. Antiopam disputationi vix ea, ne meis delenit pri. Ut vim virtute mandamus, et cetero concludaturque nam, labore deseruisse his cu.</p>

			<p>At mea odio movet nemore. Eam cu dicam congue menandri, enim fabellas te eum. Has ad nonummy suscipiantur, fuisset inimicus mei in. Ut posse vocent facilisis qui, sed ei duis minim suscipit. Harum torquatos deterruisset sit ad.</p>

		</div><!--end text-->
	</div><!--end sidecontent-->
</div><!--end content-->

<%= render :partial => 'submenu_asistencia_pie' %>