<%= render :partial => 'submenu_nosotros' %>

<div id="title">
	<h3>Beneficio a Cliente</h3>
</div><!--end title-->

<div id="content">   
	   	
	<%= render :partial => 'bar' %>   
	
	<div id="sidecontent">
		<div id="text">
			<h2>Nuestra promesa de beneficio al cliente.</h2>
			<p><strong>Nuestra promesa de beneficio al cliente al adquirir una pieza de equipo  en Proquipo.</strong></p>
			<p>En Proquipo entendemos la frustración que usted siente al hacer negocio con la mayoria de establecimientos que venden equipo portátil nuevo y usado para la construcción, la experiencia es incomoda, negativa y desesperante. El equipo usado lo venden incompleto y en condiciones operativas deficientes. El equipo nuevo lo venden sin respaldo en términos de refacciones y servicio, operan de una manera ventajosa y deshonesta, a la vez el personal en éstos establecimientos son indiferentes e insensibles a sus necesidades de equipo, como resultado usted nunca encuentra una solución a su problema.</p>
			<p>En Proquipo, donde nuestro negocio es ayudarle en su negocio, estamos listos y dispuestos a proporcionarle asistencua a sus requerimienros de equipo.</p>
			<p>En Proquipo,  contamos con un sistema para asegurar que usted adquiera el producto que necesita, la mejor marca, un precio competitivo, refacciones genuinas, un sistema para la reparación especializada de su equipo y un servicio post-venta inigualable Garantizado!</p>
			

		</div><!--end text-->
	</div><!--end sidecontent-->
</div><!--end content-->

<%= render :partial => 'submenu_nosotros_pie' %>