<%= render :partial => 'submenu_reparaciones' %>

<div id="title">
	<h3>Comparaci&oacute;n</h3>
</div><!--end title-->

<div id="content">   
	   	
	<%= render :partial => 'bar' %>    
	
	<div id="sidecontent">
		<div id="text">
			<h2>Comparaci&oacute;n entre un taller oficial y uno patito:</h2>
			<p>Compare entre un taller de servicio oficial y un taller patito para compobar el beneficio y ahorro financiero que le proporciona Proquipo, su taller de servicio oficial.</p>
			
			<table id="tabla" cellspacing="0">
				<thead>
					<tr>
						<th>Caracteristicas Operativas</th>
						<th>Respuesta de Proquipo</th>
						<th>Respuesta de Taller Patito</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><strong>Areas de Comparaci&oacute;n</strong></td>
						<td><strong>Taller Oficial de Clase Mundial</strong></td>
						<td><strong>Taller independiente mecanicos patito</strong></td>
					</tr>
					<tr class="second">
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
					</tr>
					<tr>
						<td><strong>Capacitación técnica</strong></td>
						<td>Entrenamiento continuo por parte de los ingenieros de fåbrica.</td>
						<td>Tenemos mucho tiempo en esto, sabemos lo que hacemos, no ocupamos ir a la escuela.</td>
					</tr>
					<tr class="second">
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
					</tr>
					<tr>
						<td><strong>Sistema de raparación</strong></td>
						<td>Seguimos procedimientos estrictamente normalizados para reparar su equipo bien la primera vez. Diagnósticos y reportes detallados previos a la reparación.</td>
						<td>Que es eso? Deje el dinero, nosotros nos encargamos!</td>
					</tr>
					<tr class="second">
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
					</tr>
					<tr>
						<td><strong>Tarifa de mano de obra</strong></td>
						<td>Baja debido a la especialización, nos apegamos a los tiempos de reparación tope establecidos por el fabricante para cada reparación.</td>
						<td>Elevada, al no ser especialistas, cobran en base a la dificultad que hayan tenido al reparar su máquina.</td>
					</tr>
					<tr class="second">
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
					</tr>
					<tr>
						<td><strong>Refacciones</strong></td>
						<td>Se venden a precio oficial. Todas las piezas reemplazadas se le entregan al cliente.</td>
						<td>Las venden de acuerdo al cliente, las cobran como originales y le instalan copias (el cliente no se da cuenta).</td>
					</tr>
					<tr class="second">
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
					</tr>
					<tr>
						<td><strong>Equipo de diagnostico<br />Equipo de taller<br />Herramientas especiales<br />Catalogo Electronico de piezas</strong></td>
						<td>Completamente equipado.</td>
						<td>No se necesitan!</td>
					</tr>
					<tr class="second">
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
					</tr>
					<tr>
						<td><strong>Documentación tecnica y catalogo electronico de refacciones</strong></td>
						<td>Completamente equipado con lo ultimo en documentación tecnica para su equipo, con actualizaciones periodicas por parte de los fabricantes.</td>
						<td>No se necesitan, tenemos todo en la cabeza.</td>
					</tr>
					<tr class="second">
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
					</tr>
					<tr>
						<td><strong>Respuesta ante errores en la reparación y garantias</strong></td>
						<td>Cubrimos cualquier error del taller y/o pieza defectuosa durante el periodo de garantia.</td>
						<td>Que el cliente pague! La maquina salio trabajando.</td>
					</tr>
					<tr class="second">
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
					</tr>
				</tbody>
			</table>
			
			<p>Recuerde que cuando usted llegue a nuestro taller de servicio oficial, usted estará dejando su unidad en manos expertas y total mente capacitados.</p>

			<p>Ahora ya sabe, elegir traer su unidad a Proquipo, es contar con toda la tecnología y respaldo necesario que le garantiza un buen funcionamiento, reparaciones profesionales y costos de mantenimiento muy accesibles.</p>

		</div><!--end text-->
	</div><!--end sidecontent-->
</div><!--end content-->

<%= render :partial => 'submenu_reparaciones_pie' %>