<%= render :partial => 'submenu_reparaciones' %>

<div id="title">
	<h3>Garantia en Reparaciones</h3>
</div><!--end title-->

<div id="content">   
	   	
	<%= render :partial => 'bar' %>    
	
	<div id="sidecontent">
		<div id="text">
			<h2>Garant&iacute;a limitada en reparaciones:</h2>
			
			<p>Proquipo se compromete a reemplazar y/o reparar sin cargo alguno para el consumidor dentro del plazo de garantia cualquier pieza o componente defectuoso o mal instalado producto de la reparación realizada en el centro de servicio, Aquellas piezas que hubieran de ser reparadas o substituidas como consecuencia de su desgaste normal no están incluidas en esta garantia.</p>
			<p>Nota: El cliente deberá cubrir el gasto de transportación de la herramienta al centro de servicio para el reclamo de garantía. Proquipo no será responsable de los gastos incurridos por el cliente a causa de la averia de la máquina durante el periodo de reparación en el centro de servicio. Ejemplo: (Gasto de alquiler de unidades, compra de máquinas adicionales, atraso en sus proyectos de trabajo, etc.)</p>
			<p>El tiempo de reparación de los productos bajo garantía no será mayor de 30 días hábiles a partir de la fecha de recepción del producto.</p>

			<h3>La garantía no será valida en los siguientes casos:</h3>
			<ol>
				<li>Daños originados por no seguir medidas de mantenimiento básico.</li>
				<li>Daños orginados por uso incorrecto o como consecuencia de cualquier accidente.</li>
				<li>Daños originados por uso de piezas, repuestos o aceites no genuinos.</li>
				<li>Daños originaods por modificaciones efectuadas en el producto que alteren su funcionamiento.</li>
				<li>Daños que se generen en los sistemas del equipo debido a piezas y/o accesorios que no fueron instalados por indicación del cliente.</li>
				<li>Daños originados por la operación del personal sin entrenamiento en el uso de la unidad.</li>
				<li>Daños originados en inspecciones o reparaciónes efectuadas por personal no autorizado.</li>
				<li>Decoloración natural de la pintura, cromado y niquelado.</li>
				<li>Desgaste y corrosión del producto por no haberlo guardado bajo cubierta.</li>
				<li>Exigencia de fenómenos que Proquipo determine que no influyen en la calidad y funcionamiento del producto de fuerza (ruidos, pequeñas vibraciones, indicios de pérdida de aceite), serán cubiertos en garantía solo si están fuera de estandard.</li>
				<li>Uso del producto a más de su capacidad.</li>
				<li>Usos del pproducto diferentes para lo que fue diseñado.</li>
				<li>Daños ocasionados a otros aparatos por ajustes incorrecto del producto o utilización por personas no capacitadas en el uso de este.</li>
				<li>Desgaste natural de piezas o accesorios tales como, bujias, focos, filtros de gasolina, filtros de aceite, filtro de aire, disco de embrague, placa de embrague, fusibles,escobillas, gomas, mangueras, sellos de aceite, chicotes, sellos mecánicos, cables de aceleraciónamortiguadores, interruptores, etc.</li>
			</ol>

			<h3>Tipo de reparación y plazo de garantía:</h3>
			
			<table id="tabla" cellspacing="0">
				<thead>
					<tr>
						<th>Concepto</th>
						<th>Descripcion</th>
						<th>Garantia</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><strong>Reparación del defecto únicamente y/o reparación parcial.</strong></td>
						<td>Cuando se realiza una reparación mínima, básica para poner a funcionar la unidad.</td>
						<td>n/a</td>
					</tr>
					<tr class="second">
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
					</tr>
					<tr>
						<td><strong>Reparación mayor.</strong></td>
						<td>Cuando se desarmala unidad totalmente, se inspeccionan los componentes y se reemplazan todas las partes dañadas.</td>
						<td>30 días</td>
					</tr>
					<tr class="second">
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
					</tr>
					<tr>
						<td><strong>Mantenimiento preventivo.</strong></td>
						<td>Operaciones y/o servicios periódicos de mantenimiento prescritos por el fabricante de la unidad.</td>
						<td>30 días</td>
					</tr>
					<tr class="second">
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
					</tr>
					<tr>
						<td><strong>Reparación menor.</strong></td>
						<td>Servicio a un componente ó sistema de la unidad en base al resultado del diagnóstico realizado.</td>
						<td>30 días</td>
					</tr>
					<tr class="second">
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
					</tr>
			</tbody>
			</table>
			
			<h3>Equipo y/o herramientas sin reclamar:</h3>
			<ol>
				<li>Herramientas diagnosticadas (pendientes de autorizar):  No reclamadas durante un periodo de 30 días después de la notificación al cliente serán puestas a disposición de Proquipo y destuídas. Proquipo no tendrá responsabilidad al cliente por el valor de tal herramienta.</li>
				<li>Herramientas y/o equipo reparado (pendiente liquidar): Unidades reparadas con saldos pendientes de liquidar, no reclamadas dentro de 30 días despues de lanotificación al cliente de su disponibilidad, serán puestas a disposición de Proquipo. Las unidades serán liquidadas para cubrir los costos incurridos durante la reparación (costo de refacciones, mano de obra y almacenaje) Proquipo no tendrá responsabilidadal cliente por el valor de tal herramienta.</li>
				<li>Proquipo no es responsable de daños al equipo causados por robo, incendios o cualquier otro accidente ó incidente fuera del alcance o control del centro de servicio.</li>
			</ol>

			<p>Reparaciones no autorizadas despues de 7 días de haber recibido el diagnóstico-cotización serán devueltas al cliente desarmadas y con flete por cobrar.</p>
			<p>La orden de reparación y/o diagnostico es valido por 30 días.</p>
			<p>Todo reclamo o solicitud de garantía deberá ser acompañado de la copia de la orden de reparación.</p>
			<p>No se entregará la unidad al cliente sin la copia de la orden de reparación.</p>
			<p>Terminos y condiciones sujetos a cambio sin previo aviso.</p>			

		</div><!--end text-->
	</div><!--end sidecontent-->
</div><!--end content-->

<%= render :partial => 'submenu_reparaciones_pie' %>