<div id="introduction">
	
	<div id="intro-content">
		
		<div id="intro-bar">
			
			<h1><img alt="Proquipo" src="images/proquipo-logo.gif" /></h1>
			
			<div id="intro-social">
				<p>///// Sitio en Construcci&oacute;n <img alt="Redes Sociales" src="images/social-icons.gif" /></p>
			</div><!--end intro-social-->
			
		</div><!--end intro-bar-->
		
	</div><!--end intro-content-->
	
</div><!--end introduction-->

<div id="intro-options">
	
	<div id="intro-message">
		<img alt="Mail" src="images/mail-icon.gif" />
		<p>Para compras llamar al <strong>(664) 684-52-75</strong><br /> o escribir un mensaje a <strong>ventas@proquipo.com</strong></p>
	</div><!--end intro-message-->
	
	<div id="intro-buttons">
		<p><a title="Contacto" href="mailto:ventas@proquipo.com">Contacto</a> <%#= link_to 'Productos Usados', categories_path %></p>
	</div><!--end intro-buttons-->
	
</div><!--end intro-options-->
