<%= render :partial => 'submenu_refacciones' %>

<div id="title">
	<h3>Limites y Exclusiones</h3>
</div><!--end title-->

<div id="content">   
	   	
	<%= render :partial => 'bar' %>    
	
	<div id="sidecontent">
		<div id="text">
			<h2>Limites y exclusiones de responsabilidad en pedidos especiales:</h2>
			
			<p>La rapidéz de respuesta por parte de Proquipo a los pedidos especiales dependerá de algunos factores y/o circusntancias fuera del alcance de Proquipo, éstas son algunas:</p>
			
			<ul class="ul-list">
				<li>Existencias y/o disponibilidad de producto por parte de la fábrica.</li>
				<li>La carga de trabajo que tenga la fábrica para poder surtir el pedido.</li>
				<li>Errores en la captura del pedido por parte del fabricante.</li>
				<li>Piezas incorrectas despachadas por el fabricante.</li>
				<li>Tiempo de entrega largo por parte del fabricante para surtir pedidos pendientes (backorders).</li>
				<li>Piezas y/o componentes que han sido descontinuados por el fabricante.</li>
				<li>Problemas y/o atrasos por parte de la compañia de mensajería.</li>
				<li>Dias festivos en el pais de origen del fabricante.</li>
				<li>Pedidos que tardan más del tiempo indicado.</li>
				<li>La aceptación  ó rechazo de una solicitud de garantía por parte del fabricante.</li>
				<li>El tiempo que el personal de la fábrica tarde en dar soluciones a cualquier problema relacionado a refacciones, equipo, garantías y servicios.</li>
				<li>Disponibilidad del personal en fábrica (departamento de refacciones, servicio, ventas).</li>
			</ul>
				
			<p>Proquipo rechaza especificamente cualquier responsabilidad por multas (incluyendo multas administrativas), daños por beneficios o ingresos perdidos, pérdidas de productos o equipos asociados, costos de capital o servicios, tiempo no operativo o de bajo rendimiento, gastos de alquiler de unidades, compra de máquinas adicionales, atraso en sus proyectos de trabajo o cualquier otro tipo de pérdida económica que se genere a causa de la falta del equipo y/o pieza durante los periódos de reparación, arribo de su pedido especial y respuesta a su reclamo de garantía.</p>


		</div><!--end text-->
	</div><!--end sidecontent-->
</div><!--end content-->

<%= render :partial => 'submenu_refacciones_pie' %>