<%= render :partial => 'submenu_refacciones' %>

<div id="title">
	<h3>Notas Importantes</h3>
</div><!--end title-->

<div id="content">   
	   	
	<%= render :partial => 'bar' %>    
	
	<div id="sidecontent">
		<div id="text">
			<h2>Notas importantes acerca de los pedidos especiales:</h2>

			<p>Los pedidos especiales deber´n ser cubiertos en su totalidad por anticipado. No hay devoluciones en pedidos especiales.</p>

			<p>Los tiempos de entrega son de fábrica a distribuidor. No incluye el tiempo de entrega del distribuidor al cliente.</p>

			<p>Los tiempos de entrega estarán sujetos a las existencias de producto por parte de la fábrica y la carga de trabajo que temga la fábrica para poder surtir el pedido.</p>

			<p>En situaciones donde no hay existencias por parte de la fábrica, está establecerá el tiempo de entrega aproximado para surtir el pedido.</p>

			<p>El distribuidor no es responsable de los pedidos que tarden más del tiempo indicado, errores en el procedimiento por parte del fabricante, problemas o atrasos de la compañia de mensajería, etc.</p>

			<p>En algunos casos el cliente deberá cubrir el flete de la fábrica a distribuidor y distribuidor al cliente (consultar la politica de envíos por fábrica).</p>

			<p>En algunos casos no se cobrará flete al cliente (consultar la politica de envíos).</p>

		</div><!--end text-->
	</div><!--end sidecontent-->
</div><!--end content-->

<%= render :partial => 'submenu_refacciones_pie' %>