<%= render :partial => 'submenu_refacciones' %>

<div id="title">
	<h3>Politicas de Devoluci&oacute;n</h3>
</div><!--end title-->

<div id="content">   
	   	
	<%= render :partial => 'bar' %>   
	
	<div id="sidecontent">
		<div id="text">
			<h2>Politicas para la devolución de refacciones</h2>
			<p>La factura deberá acompañar toda devoluci&oacute;n de partes para su intercambio únicamente, durante un periodo no mayor a cinco días.</p>
			<p>Nota: No hay devoluciones y/o intercambios en pedidos especiales.</p>
			
			<h3>Condiciones para la devolución.</h3>
			<ol>
				<li>Las refacciones y/o partes deben estar en su empaque, caja o protector original y en condiciones de reventa.</li>
				<li>No se aceptarán partes o refacciones que hayan sido instaladas o utilizadas por el cliente y removidas de su empaque original o que su caja y/o protector original esté dañadi, roto o sucio.</li>
			</ol>
			<p>Proquipo, se reserva el derecho de rechazar cualquier petición para la devolución de partes y/o accesorios.</p>
			

		</div><!--end text-->
	</div><!--end sidecontent-->
</div><!--end content-->

<%= render :partial => 'submenu_refacciones_pie' %>