<%= render :partial => 'submenu_nosotros' %>

<div id="title">
	<h3>Politica de Ventas</h3>
</div><!--end title-->

<div id="content">   
	   	
	<%= render :partial => 'bar' %>   
	
	<div id="sidecontent">
		<div id="text">
			<h2>Nuestra Politica de Venta General.</h2>
			<p><strong>Condiciones de venta generales.</strong></p>
			<ul class="ul-list">
				<li>Los precios no inlcuyen iva (11%) y no inlcuyen flete.</li>
				<li>Las condiciones de pago son de contaco, cheuqe certificado ó deposito bancario.</li>
				<li>Los equipos nuevos llevan una garantía limitada de acuerdo a las condiciones de fábrica.</li>
				<li>El equipo demo, seminuevo, reconstruido y usado es vendido con una garantía limitada. ver politica de garantía.</li>
				<li>Algunos productos usados son vendidos en las condición que están, No llevan garantia.</li>
				<li>No hay devoluciones y/o intercambios en equipo nuevo, demo, seminuevo, reconstruido ó usado.</li>
				<li>Los pedidos especiales deberán ser cubiertos en su totalidad por anticipado.</li>
				<li>No hay devolución en pedidos especiales, pedido minimo $50 dlls.</li>
			</ul>
			<p><strong>Nota: En algunos casos los pedidos especiales menores a $50 dlls se aplicará una tarifa de procesamiento por la cantidad de $20 dlls.</strong></p>
			<p>Marcas, modelos, especificaciones, precios, condiciones de venta y cobertura de garantía sijetos a cambio sin previo aviso.</p>


		
		</div><!--end text-->
	</div><!--end sidecontent-->
</div><!--end content-->

<%= render :partial => 'submenu_nosotros_pie' %>