<%= render :partial => 'submenu_reparaciones' %>

<div id="title">
	<h3>Promesa de Beneficio al Cliente</h3>
</div><!--end title-->

<div id="content">   
	   	
	<%= render :partial => 'bar' %>    
	
	<div id="sidecontent">
		<div id="text">
			<h2>Nuestra promesa de beneficio al cliente al reparar su unidad:</h2>
			<p>En proquipo entendemos las crecientes deficiencias de servicio profesional y las frustraciones que el propietario del equipo siente al llevar su equipo a reparar a talleres inexpertos, la experiencia es incomoda, negativa y deseperante, el equipo no es reparado en base a las especificaciones de servicio fel fabricante, los costo no son predecibles, no hay claridad en el diagnóstico, la unidad no queda bien reparada, no proporcionan respaldo técnico y capacitación. A la vez el personal en éstos establecimientos operan de una manera ventajosa y deshonesta. Como resultado usted nunca encuentra una solución total a su problema de reparación.</p>

			<p>En Proquipo nuestro sistema de reparación brinda al propietario, claridad, tranquilidad y seguridad desde que recibimos la unidad, durante la evaluación y durante la entrega de la unidad reparada. Proporcionando al propietario una solición total sin igual en el mercado.</p>

			<p>En Proquipo contamos con un sistema de reparación estrictamente normalizado de clase mundial para asegurar que su equipo quede reparado bien a la primera vez y a un precio accesible, Garantizado!</p>
			
			<h3>Tipos de Servicios de Reparación:</h3>
			<p>El servicio de reparación que ofrecemos incluye:</p>
			<ol>
				<li>Taller de reparación completamente equipado de clase mundial para dar servicio especializado a su equipo portátil, y lo más importante, estamos certificados por el fabricante.</li>
				<li>Técnicos con capacitación clave en equipo portátil de construcción.</li>
				<li>Diagnostico, prueba e inspección completa de su equipo antes de ser reparado.</li>
				<li>Unicamente utilizamos refaccioes y accesorios originales del fabricante.</li>
				<li>Su unidad es reparada en base a las especificaciones y estándares de servicio del fabricante siguiendo unos procedimientos estrictamente normalizados y utilizando las herramientas, instrumentos y equipo de prueba especial para su equipo.</li>
				<li>Extenso surtido de refacciones originales a "precios oficiales".</li>
				<li>Tarifa de mano de obra competitivas.</li>
				<li>Todas as artes reemplazadas durante la reparación se le entregan al cliente.</li>
				<li>Asesoramiento profesional , servicio rápido y un trato honesto.</li>
			</ol>
			
			<h3>Tipos de Reparaciones:</h3>
			<ol>
				<li>Diagnosticos.</li>
				<li>Mantenimiento preventivo.</li>
				<li>Reparaciones menores.</li>
				<li>Reparaciones mayores.</li>
				<li>Contratos de servicio integral.</li>
				<li>Reclamas de garantia.</li>
			</ol>
			
			<h3>Fabricantes que representamos:</h3>
			<ol>
				<li>Multiquip.</li>
				<li>Wacker.</li>
				<li>Honda.</li>
				<li>Stihl.</li>
				<li>Graco.</li>
				<li>Titan Speeflo.</li>
				<li>Hatz- Diesel.</li>
				<li>General Pump.</li>
				<li>Robin.</li>
			</ol>

		</div><!--end text-->
	</div><!--end sidecontent-->
</div><!--end content-->

<%= render :partial => 'submenu_reparaciones_pie' %>