<%= render :partial => 'submenu_nosotros' %>

<div id="title">
	<h3>ProquipoTV</h3>
</div><!--end title-->

<div id="content">   
	   	
	<%= render :partial => 'bar' %>   
	
	<div id="sidecontent">
		<div id="text">
			<h2>ProquipoTV</h2>
			<p>Proximamente</p>
			

		
		</div><!--end text-->
	</div><!--end sidecontent-->
</div><!--end content-->

<%= render :partial => 'submenu_nosotros_pie' %>