<%= render :partial => 'submenu_refacciones' %>

<div id="title">
	<h3>Panorama General</h3>
</div><!--end title-->

<div id="content">   
	   	
	<%= render :partial => 'bar' %>    
	
	<div id="sidecontent">
		<div id="text">
			<h2>Necesita refacciones para su equipo portatil de construcción?</h2>
			<p>Ahorre tiempo, dinero y esfuerzo! En proquipo usted encontrará repuestos originales para poner a funcionar nuevamente su equipo.</p>
			<p>Somos concesionario autorizado y ofrecemos repuestos originales para las principales marcas en equipo de construcción portatil:</p>
			<p>Honda-Wacker-Multiquip-Stihl-Hatz Diesel-Graco-Titan-Speeflo-General Pump-Robin America-Wyco</p>
			<p>Contamos con:</p>
			<ul class="ul-list">
				<li>Extenso surtido de refacciones originales.</li>
				<li>Sistema de pedidos especiales.</li>
				<li>Precio de ventas oficiales.</li>
				<li>Diagramas de partes, gratuitos que le ayudarán a identificar las piezas.</li>
			</ul>
			<h3>No esta seguro de la refacci&oacute;n que necesita?</h3>
			<p>No se preocupe estamos completamente equipados con todos los diagramas de partes y materiales técnicos del fabricante para ayudarle a encontrar facilmente la pieza que necesita.</p>
			

		
		</div><!--end text-->
	</div><!--end sidecontent-->
</div><!--end content-->

<%= render :partial => 'submenu_refacciones_pie' %>