<%= render :partial => 'submenu_nosotros' %>

<div id="title">
	<h3>Sistema de Ventas</h3>
</div><!--end title-->

<div id="content">   
	   	
	<%= render :partial => 'bar' %>   
	
	<div id="sidecontent">
		<div id="text">
			<h2>Nuestro Sistema de Ventas</h2>
			<p><strong>Nuestro sistema de ventas asegura que usted adquiera el producto que necesita, la mejor marca un precio competitivo y un servicio post-venta inigualable.</strong></p>
			<h4>Como adquirir su equipo portátil de construcción:</h4>
			<p>Una vez que usted se ponga en contacto con nosotros ya sea por teléfono, visitando nuestra tienda o por medio de nuestra página web, un representante de venta lo asistirá de la siguiente forma:</p>
			
			<dl>
				<div>
					<dt><span>01</span> - Análisis de la necesidad del Cliente.</dt>
					<dd>En colaboración con usted, el cliente, estudiamos sus objetivos y necesidades de equipo, así como los resultados que desea obtener en su proyecto ó trabajo.</dd>
				</div>
				<div>
					<dt><span>02</span> - Evaluación de las diferentes alternativas.</dt>
					<dd>Una vez evaluados los objetivos del cliente, mostramos las diferentes opciones de equipo disponibles, sus características técnicas, funciones básicas, aplicaciones y accesorios disponibles.</dd>
				</div>
				<div>
					<dt><span>03</span> - Demostración del equipo.</dt>
					<dd>Para un mejor entendimiento por parte del cliente, hacemos una demostración práctica del equipo en la sucursal, ó si es necesario en las instalaciones del cliente.</dd>
				</div>
				<div>
					<dt><span>04</span> - Recomendación del equipo.</dt>
					<dd>Una vez demostrado el equipo, planteamos la solución que mejor resuelva la necesidd especifica, garantizando así seguridad, eficiencia y precios óptimos.</dd>
				</div>
				<div>
					<dt><span>05</span> - Aceptación y entrega del equipo.</dt>
					<dd>Hecho el planteamiento y la especificacion del equipo,proporcionamos al cliente los costos, disponibilidad,tiempo de entrega,confirmamos pedido,realizamos verificacion del equipo, capacitamos al operador y realizamos la entrega del producto al cliente</dd>
				</div>
				<div>
					<dt><span>06</span> - Servicio Post-Venta.</dt>
					<dd>La venta de un producto no es el fin de nuestro contacto con el cliente, es el inicio de nuestro servicio post-venta que incluye servicio de rapraciones, venta de refacciones, asesoramiento profesional en el sitio de trabajo del cliente y un servicio rápido y sin contratiempos.</dd>
				</div>
			</dl>


		
		</div><!--end text-->
	</div><!--end sidecontent-->
</div><!--end content-->

<%= render :partial => 'submenu_nosotros_pie' %>