<%= render :partial => 'submenu_reparaciones' %>

<div id="title">
	<h3>Solicitud de Garantias</h3>
</div><!--end title-->

<div id="content">   
	   	
	<%= render :partial => 'bar' %>    
	
	<div id="sidecontent">
		<div id="text">
			<h2>Procedimiento para solicitar  una garantía:</h2>
			
			<p>Nota importante: El cliente deberá cubrir el gasto de transportación de la herramienta o equipo al centro de servicio para el reclamo de grantía.</p>
			<ol>
				<li>Trnasladar la unidad al centro de servicio.</li>
				<li>Presentar factura de compra de la unidad.</li>
				<li>En caso de reparación, presentar la órden de reparación.</li>
				<li>Proporcionar la información de la unidad, datos del cliente, detalles sobre la falla.</li>
				<li>Esperar respuesta a la solicitud de garantía.</li>
			</ol>
			<p>El tiempo de respuesta aproximado para una solicitud de garantía es de 5 días.</p>
			<p>El tiempo aproximado para la reparación bajo garantía es de 5 a 45 días.</p>

			<h3>Limites y exclusiones de responsabilidad en pedidos especiales, reparaciones y reclamos de garantía:</h3>
			<p>La rapidéz de respuesta  por parte de Proquipo a los pedidos especiales, reparaciones y solicitudes de garantía deoenderá de algunos factores y/o circunstancias fuera del alcance de Proquipo, éstas son algunas:</p>
			<p>La rapidéz de respuesta por parte de Proquipo a los pedidos especiales dependerá de algunos factores y/o circusntancias fuera del alcance de Proquipo, éstas son algunas:</p>
			<ul class="ul-list">
				<li>Existencias y/o disponibilidad de producto por parte de la fábrica.</li>
				<li>La carga de trabajo que tenga la fábrica para poder surtir el pedido.</li>
				<li>Errores en la captura del pedido por parte del fabricante.</li>
				<li>Piezas incorrectas despachadas por el fabricante.</li>
				<li>Tiempo de entrega largo por parte del fabricante para surtir pedidos pendientes (backorders).</li>
				<li>Piezas y/o componentes que han sido descontinuados por el fabricante.</li>
				<li>Problemas y/o atrasos por parte de la compañia de mensajería.</li>
				<li>Dias festivos en el pais de origen del fabricante.</li>
				<li>Pedidos que tardan más del tiempo indicado.</li>
				<li>La aceptación  ó rechazo de una solicitud de garantía por parte del fabricante.</li>
				<li>El tiempo que el personal de la fábrica tarde en dar soluciones a cualquier problema relacionado a refacciones, equipo, garantías y servicios.</li>
				<li>Disponibilidad del personal en fábrica (departamento de refacciones, servicio, ventas) para procesar oportunamente lasolicitud de garantía.</li>
			</ul>
			<p>Proquipo rechaza especificamente cualquier responsabilidad por multas (incluyendo multas administrativas), daños por beneficios o ingresos perdidos, pérdidas de productos o equipos asociados, costos de capital o servicios, tiempo no operativo o de bajo rendimiento, gastos de alquiler de unidades, compra de máquinas adicionales, atraso en sus proyectos de trabajo o cualquier otro tipo de pérdida económica que se genere a causa de la falta del equipo y/o pieza durante los periódos de reparación, arribo de su pedido especial y respuesta a su reclamo de garantía.</p>
		

		</div><!--end text-->
	</div><!--end sidecontent-->
</div><!--end content-->

<%= render :partial => 'submenu_reparaciones_pie' %>