<%= render :partial => 'submenu_refacciones' %>

<div id="title">
	<h3>Panorama General</h3>
</div><!--end title-->

<div id="content">   
	   	
	<%= render :partial => 'bar' %>    
	
	<div id="sidecontent">
		<div id="text">
			<h2>Tiempos de entrega aproximados para equipos y refacciones:</h2>

			<table id="tabla" cellspacing="0">
				<thead>
					<tr>
						<th>Fabricantes:</th>
						<th>Equipo:</th>
						<th>Refacciones:</th>
						<th>Flete:</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
					</tr>
					<tr class="second">
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
					</tr>
					<tr>
						<td><strong>Wacker</strong></td>
						<td><strong>10 dias</strong></td>
						<td><strong>5 dias</strong></td>
						<td><strong>Por Cobrar</strong></td>
					</tr>
					<tr class="second">
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
					</tr>
					<tr>
						<td><strong>Multiquip</strong></td>
						<td><strong>5-7 dias</strong></td>
						<td><strong>5 dias</strong></td>
						<td><strong>Por Cobrar</strong></td>
					</tr>
					<tr class="second">
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
					</tr>
					<tr>
						<td><strong>Honda</strong></td>
						<td><strong>7-10 dias</strong></td>
						<td><strong>7-10 dias</strong></td>
						<td><strong>Pre-Pagado</strong></td>
					</tr>
					<tr class="second">
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
					</tr>
					<tr>
						<td><strong>Stihl</strong></td>
						<td><strong>5 dias</strong></td>
						<td><strong>5 dias</strong></td>
						<td><strong>Pre-Pagado</strong></td>
					</tr>
					<tr class="second">
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
					</tr>
					<tr>
						<td><strong>Graco</strong></td>
						<td><strong>7 dias</strong></td>
						<td><strong>5 dias</strong></td>
						<td><strong>Por Cobrar</strong></td>
					</tr>
					<tr class="second">
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
					</tr>
					<tr>
						<td><strong>Titan</strong></td>
						<td><strong>10 dias</strong></td>
						<td><strong>5 dias</strong></td>
						<td><strong>Por Cobrar</strong></td>
					</tr>
					<tr class="second">
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
					</tr>
					<tr>
						<td><strong>General Pump</strong></td>
						<td><strong>7 dias</strong></td>
						<td><strong>5 dias</strong></td>
						<td><strong>Por Cobrar</strong></td>
					</tr>
					<tr class="second">
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
					</tr>
					<tr>
						<td><strong>Robin</strong></td>
						<td><strong>10 dias</strong></td>
						<td><strong>7 dias</strong></td>
						<td><strong>Por Cobrar</strong></td>
					</tr>
					<tr class="second">
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
					</tr>
					<tr>
						<td><strong>Hatz Diesel</strong></td>
						<td><strong>10 dias</strong></td>
						<td><strong>7 dias</strong></td>
						<td><strong>Flete</strong></td>
					</tr>
					<tr class="second">
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
					</tr>
				</tbody>
			</table>

		</div><!--end text-->
	</div><!--end sidecontent-->
</div><!--end content-->

<%= render :partial => 'submenu_refacciones_pie' %>