<%= render :partial => 'submenu_nosotros' %>

<div id="title">
	<h3>Valores Escenciales</h3>
</div><!--end title-->

<div id="content">   
	   	
	<%= render :partial => 'bar' %>   
	
	<div id="sidecontent">
		<div id="text">
			<h2>Nuestras Creencias y Valores</h2>
			<ol class="ol-line">
				<li>Nosotros creemos en la relación creciente a largo plazo con nuestros clientes que promueven el crecimiento mutuo y el trabajo en equipo.</li>
				<li>Nosotros valoramos la creatividad, honestidad y lealtad entre las personas que trabajan en Proquipo.</li>
				<li>Nosotros fomentamos el pensamiento indicidual y la cooperación mutua.</li>
				<li>Nosotros creemos que nuestros empleados son la base de nuestro éxito.</li>
				<li>Nosotros confiamos y cuidamos del uno al otro y nos tratamos con respeto.</li>
				<li>Nosotros abiertamente comunicamos nuestras realizaciones y equivocaciones, sólo así podemos aprender y crecer.</li>
				<li>Nosotros creemos en la honradez, en actuar con integridad bajo cualquier circunstancia, sin importar el precio.</li>
				<li>Nosotros creemos que lahonestidad en todas nuestras negociaciones se coorelaciona con éxito a largo plazo y la felicidad en cada aspecto de nuestra vida.</li>
				<li>Nosotros creemos en hacerlo muy claro a nuestros empleados, que no hay ecusa para un comportamiento deshonesto.</li>
				<li>Nosotros creemos en cuidar, ayudar y cumpartir con otros que requieran de ayuda.</li>
				<li>Nosotros creemos que usted puede llevar a cabo cualquier cosa que tenga en mente, si lo desea fervientemente.</li>
				<li>Nosotros creemos que no hay atjos, para ser triunfadores, hay que empezar un poco más temprano trabajar un poco más duro y quedarse un poco más tarde.</li>
				<li>Nosotros creemos que la preparación es la base de la seguridad en virtualmente cualquier campo.</li>
				<li>Nosotros creemos en persistir hasta tener éxito en aquello que se desea sin importar las dificultades que se presenten.</li>
				<li>Nosotros creemos en la verdad, en la ciencia y en la ley de causa y efecto.</li>
				<li>Nosotros creemos que la mejor manera de predecir el futuro es construyendolo con metas y objetivos.</li>
				<li>Nosotros nos afanamos en vivir vidas equilibradas.</li>
				<li>Nosotros somos seguros de nuestro futuro y apuntamos con orgullo a la manera en que manejamos nuestro negocio, cuidamos de nuestro ambiente y la manera en que nos comportamosuno con el otro.</li>
			</ol>
			<div id="redtext">
				<h6>En Proquipo, nos afanamos en vivir diariamente bajo nuestra filosofia.</h6>
				<a href="#">Descargar PDF</a>
			</div><!--end redtext-->
		
		</div><!--end text-->
	</div><!--end sidecontent-->
</div><!--end content-->

<%= render :partial => 'submenu_nosotros_pie' %>